.card-img, .card-img-bottom, .card-img-top {
  flex-shrink: 0;
  width: 40% !important;
  height: 40% !important;
  padding: 5px;

}

.card {
  flex-direction: inherit;
  border: none;
}

.product-card img{
  text-align: center;
}